/* Police écriture */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@800&family=Work+Sans:wght@800&display=swap');


html{
    --couleur-principal:rgb(43, 42, 51);
    --couleur-secondaire:#42414d;
    --couleur-texte:white;
    --couleur-text1:#fa5353;
    --couleur-text2:white;
   
}
/*-------------------------------------------------nav ---------------------------------------------*/

.font{
    background-color: var(--couleur-secondaire);
    height: 100vh;
    width: 120px;
    position: fixed;
    top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
    
}
ul{
    position: relative;
    top: 24%;
    left: 4%;

}
#icon1{
    font-size: 60px;
    float: left;
    position: relative;
    right: 38px;
    top: -340px;
    cursor: crosshair;
    align-items: center;
    padding: 30px;

    
}

/* icon parametre */
#icon2{
    font-size: 60px;
    float: left;
    position: relative;
    top: 365px;
    cursor: crosshair;
    align-items: center;
    padding: 30px;
    

}

#icon{
   font-size: 60px;
   float: left;
   position: relative;
   right: 38px;
   cursor: crosshair;
   align-items: center;
   padding: 30px;

}

.onglet{
    position: relative;
    width: 200px; height: 150px;
    border-radius: 50%;
	background-color: var(--couleur-text1);
    position: relative;
    cursor: crosshair;

}

.barre {
    position: relative;
    left: -143px;
    border-radius: 30px;
	/* transition pour les deux événements */
	transition: all 2s;
    z-index: 210;
}

.barre:hover{
    left: 0px;
    transition: 0.8s;
    z-index: 210;
}

#nav{
    position: relative;
    left: 120px;
    top:30px;
    font-size:80px;
    cursor: crosshair;
    z-index: 210;
    
}

#icon:hover{
    border-right: 8px solid var(--couleur-text1);
    
}

#icon2:hover{
    border-right: 8px solid var(--couleur-text1);
  
}

#icon1:hover{
    border-right: 8px solid var(--couleur-text1);
    
}

/* effect boutton setting */
.setting{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: var(--couleur-baground_menu);
    z-index: 106;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    clip-path: circle(0% at 100% 0%);
}

.setting.active{
    clip-path: circle(144% at 100% 0%);
}
/* text  */
.setting h1{
    position: relative;
    align-items: center;
    display: flex;
    position: relative;
    left: 19%;
    top: -35%;
    font-size: 60px;
    font-weight: 900;

}

.setting h2{
    position: relative;
    font-weight: 900;
    left:4%;
    top: -25%;

}

.setting h3{
    position: relative;
    font-weight: 900;
    top: -25%;
    left:26%;
   
}

.setting span{
    font-size: 20px;
}

/* fond  settings*/

.background1{
    position: relative;
    left: -30%;
    top: 10%;
    width: 800px;
    height: 900px;
    border-radius: 15px;
    opacity: 0.7;
    background-color: var(--couleur-secondaire);
}
.background2{
    position: relative;
    left: -22%;
    top: 7%;
    width: 700px;
    height:800px;
    border-radius: 15px;
    opacity: 0.7;
    background-color:var(--couleur-secondaire);
}

